<?xml version='1.0' encoding='utf-8'?>
<widget id="ua.siniidrozd.veggiemath" version="1.6.005" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Veggie math</name>
    <description>
        Teach math
    </description>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SplashScreenBackgroundColor" value="#00c5ca" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarBackgroundColor" value="#028c90" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <author email="siniidrozd@gmail.com" href="http://cordova.io">
        Dmitrii Bilukha
    </author>
    <content src="index.html" />
    <platform name="android">
        <plugin name="cordova-plugin-whitelist" spec="1" />
        <plugin name="cordova-plugin-globalization" spec="~1.0.4" />
        <icon src="icon/icon.png" />
    </platform>
    <splash src="splash/splash.9.png" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-statusbar" source="npm" version="2.2.0" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
</widget>
