.home{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  .title{
    position:absolute;
    top:10%;
    width:100%;
    text-align: center;
    svg{
      height:100%;
    }
  }
}
.wrapper{
  position:relative;
  height:100%;
  width:100%;
}
